<div class="left">
    <div class="client">
        <div class="client-header">Requests</div>
        <md-list>
            <md-list-item *ngFor="let request of requests"  >
                
                <h3 md-line > {{request.clientid}} </h3>
                <h3 md-line>
                   {{request.status}} 
                </h3>
                <button md-raised-button (click)="openMarker(request)">Find on Map</button>
            </md-list-item>
        </md-list>
    </div>

    <div class="agent">
        <div class="agent-header">Agents</div>
        <md-list>
            <md-list-item *ngFor="let request of requests">
                <h3 md-line> {{request.clientid}} </h3>
                <p md-line>
                    <span> {{request.status}} </span>
                </p>
                </md-list-item>
        </md-list>
    </div>
</div>
<div class="content">  
<div #map id="map"></div>
</div>


