#map{
    height: 100%;
    width: inherit;
    border:1px solid gray;
    position: absolute;
}
#showarea{
  float: right;  
}
.showareatext{
    padding: 2px 20px 13px 22px;
}
.client{
    float: left; height: 50%; border: 1px solid gray;
}
.client-header{
    padding: 25px; background-color: gray; color: white;  text-align: center; font-size: 25px;
}
.agent{
    float: left; height: 50%; border: 1px solid gray; 
}
.agent-header{
    padding: 25px; background-color: gray; color: white;  text-align: center; font-size: 25px;
}
.content{
    width: 75%; float: right;
}
.row{
    width: 100%;
}
.left{ width: 25%}