#map{
    height: 97%;
    width: inherit;
    border:1px solid gray;
    position: absolute;
    padding-bottom: 4px;
}
#showarea{
  float: right;  
}

.showareatext{
    padding: 2px 20px 13px 22px;
}

.client{
    float: left; 
    height: 50%; 
    border: 1px solid gray; 
    min-width: 302px;
}

.client-header{
    padding: 25px; 
    background-color: gray; 
    color: white;  
    text-align: center; 
    font-size: 25px;
    font-weight: 900;
}

.agent{
    float: left; 
    height: 50%; 
    border: 1px solid gray; 
    margin-top: 5px; 
    min-width: 302px;   
}

.agent-header{
    padding: 25px;
    background-color: gray;
    color: white;  
    text-align: center; 
    font-size: 25px;
    font-weight: 900;
}

.content{
    width: 76%; 
    float: left; 
   
}

.row{
    width: 100%;
}

.left {
    width: 23%;
    float: left;
}

.mat-list-item{
    border-bottom: 1px solid gainsboro;
}

.mat-raised-button{
    padding: 0px;
    color: white;
    background: gray;
}

.mat-list{
    height: 233px;
    overflow: auto
}
