

<div class="left">
    <div class="client">
        <div class="client-header">Requests</div>
        <div *ngIf= "loading">
            <md-spinner></md-spinner>
        </div>
        <md-list>
            <md-list-item *ngFor="let request of requests"  >
                
                <h3 md-line > {{request.email}} </h3>
                <h3 md-line>
                   {{request.status}} 
                </h3>
                <button md-raised-button (click)="openMarker(request)">Track</button>
            </md-list-item>
        </md-list>
    </div>

    <div class="agent">
        <div class="agent-header">Agents</div>
        <md-list>
            <md-list-item *ngFor="let agent of agents">
                <h3 md-line> {{agent.name}} </h3>
                <p md-line>
                    <span> Engineer </span>
                </p>
                </md-list-item>
        </md-list>
    </div>
</div>

<div class="content">  
  <div #map id="map"></div>
</div>

<router-outlet></router-outlet>
